In [66]:
import pandas as pd

Jan2025 = pd.read_csv('202501-divvy-tripdata.csv')
Feb2025 = pd.read_csv('202502-divvy-tripdata.csv')
Mar2025 = pd.read_csv('202503-divvy-tripdata.csv')
Apr2025 = pd.read_csv('202504-divvy-tripdata.csv')
May2025 = pd.read_csv('202505-divvy-tripdata.csv')
Jun2025 = pd.read_csv('202506-divvy-tripdata.csv')

In [67]:
#Add all datasets to a list
dfs = [Jan2025, Feb2025, Mar2025, Apr2025, May2025, Jun2025]

In [68]:
#convert ride_length to timedelta

for df in dfs:
    df['ride_length'] = pd.to_timedelta(df['ride_length'])

In [69]:
#add a column 'Month' to display the month of the records
Jan2025['Month'] = 'Jan'
Feb2025['Month'] = 'Feb'
Mar2025['Month'] = 'Mar'
Apr2025['Month'] = 'Apr'
May2025['Month'] = 'May'
Jun2025['Month'] = 'Jun'

In [70]:
#combine all datasets into 1
combined_df = pd.concat(dfs)

In [71]:
#drop unnecessary columns
combined_df = combined_df.drop(columns=['start_lng','start_lat','end_lat','end_lng'])

In [72]:
combined_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,ride_length,day_of_week,Month
0,7569BC890583FCD7,classic_bike,23:54.5,37:52.0,Wacker Dr & Washington St,KA1503000072,McClurg Ct & Ohio St,TA1306000029,member,0 days 00:13:57,3,Jan
1,013609308856B7FC,electric_bike,44:06.8,49:11.1,Halsted St & Wrightwood Ave,TA1309000061,Racine Ave & Belmont Ave,TA1308000019,member,0 days 00:05:04,7,Jan
2,EACACD3CE0607C0D,classic_bike,16:27.7,28:03.2,Southport Ave & Waveland Ave,13235,Broadway & Cornelia Ave,13278,member,0 days 00:11:36,5,Jan
3,EAA2485BA64710D3,classic_bike,49:05.8,52:40.0,Southport Ave & Waveland Ave,13235,Southport Ave & Roscoe St,13071,member,0 days 00:03:34,5,Jan
4,7F8BE2471C7F746B,electric_bike,38:32.3,41:06.8,Southport Ave & Waveland Ave,13235,Southport Ave & Roscoe St,13071,member,0 days 00:02:34,5,Jan
...,...,...,...,...,...,...,...,...,...,...,...,...
678899,E0858F13ABDC894F,electric_bike,37:57.0,38:25.4,NaN,NaN,NaN,NaN,casual,0 days 00:00:28,7,Jun
678900,904C877CC3FF2E45,electric_bike,42:39.2,48:03.0,NaN,NaN,NaN,NaN,casual,0 days 00:05:24,7,Jun
678901,4.63064E+15,electric_bike,54:39.5,49:01.2,NaN,NaN,NaN,NaN,casual,0 days 00:54:22,7,Jun
678902,EEC9887F1B23B9B5,electric_bike,52:33.9,57:13.5,NaN,NaN,NaN,NaN,casual,0 days 00:04:40,6,Jun
678903,F1BC673E1E90761B,electric_bike,15:11.6,19:10.4,NaN,NaN,NaN,NaN,casual,0 days 00:03:59,6,Jun

In [73]:
# Descriptive analysis on ride_length by month (all figures in seconds)

combined_df.groupby('Month').agg({
    'ride_length': ['mean', 'max', 'min', 'median']
})

                    ride_length
                           mean             max    min          median
Month
Apr   0 days 00:14:19.245036233 1 days 00:59:58 0 days 0 days 00:08:33
Feb   0 days 00:10:47.910528048 1 days 00:59:57 0 days 0 days 00:06:58
Jan   0 days 00:10:52.881648869 1 days 00:59:57 0 days 0 days 00:06:48
Jun   0 days 00:18:22.582857075 1 days 02:14:54 0 days 0 days 00:10:40
Mar   0 days 00:14:01.703436132 1 days 01:59:55 0 days 0 days 00:08:20
May   0 days 00:16:22.590187001 1 days 00:59:59 0 days 0 days 00:09:32

In [74]:
# Descriptive analysis on ride_length

combined_df.agg({
    'ride_length': ['mean', 'median', 'min', 'max']
})

                     ride_length
mean   0 days 00:15:34.536301761
median           0 days 00:09:04
min              0 days 00:00:00
max              1 days 02:14:54

In [75]:
# Compare members and casual users

combined_df.groupby('member_casual').agg({
    'ride_length': ['mean', 'max', 'min', 'median']})

                            ride_length
                                   mean             max    min          median
member_casual
casual        0 days 00:23:09.486043102 1 days 02:14:54 0 days 0 days 00:11:20
member        0 days 00:11:43.257479909 1 days 00:59:58 0 days 0 days 00:08:13

In [76]:
#convert day_of_week to real date (Mon, tue...)

def real_date(val):
    if val == 1:
        return 'Sunday'
    elif val == 2:
        return 'Monday'
    elif val == 3:
        return 'Tuesday'
    elif val == 4:
        return 'Wednesday'
    elif val == 5: 
        return 'Thursday' 
    elif val == 6:
        return 'Friday'
    elif val == 7:
        return 'Saturday'

combined_df['day_of_week'] = combined_df['day_of_week'].apply(real_date)

In [82]:
# See the average ride time by each day for members vs casual users

##Define the correct weekday order
weekday_order = [
    'Monday', 'Tuesday', 'Wednesday', 
    'Thursday', 'Friday', 'Saturday', 'Sunday'
]

## Convert the column into an ordered categorical
combined_df['day_of_week'] = pd.Categorical(
    combined_df['day_of_week'],
    categories=weekday_order,
    ordered=True
)

##pivot table 

pivot = pd.pivot_table(
    combined_df,
    values='ride_length',
    index='day_of_week',
    columns='member_casual',
    aggfunc=['mean','count'],
    fill_value=0,
    margins=True
)

# Remove All row and column
pivot = pivot.drop(index='All')
pivot = pivot.drop(columns='All', level=1)

# Flatten column names
pivot.columns = [f"{agg}_{user}" for agg, user in pivot.columns]

pivot

C:\Users\admin\AppData\Local\Temp\ipykernel_4392\3738241675.py:18: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot = pd.pivot_table(
c:\Users\admin\anaconda3\Lib\site-packages\pandas\core\reshape\pivot.py:321: FutureWarning: Dtype inference on a pandas object (Series, Index, ExtensionArray) is deprecated. The DataFrame constructor will keep the original dtype in the future. Call `infer_objects` on the result to get the old behavior.
  margin_dummy = DataFrame(row_margin, columns=Index([key])).T
C:\Users\admin\AppData\Local\Temp\ipykernel_4392\3738241675.py:18: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot = pd.pivot_table(

,mean_casual,mean_member,count_casual,count_member
day_of_week,,,,
Monday,0 days 00:22:34.647533137,0 days 00:11:18.610111822,88797,213374
Tuesday,0 days 00:20:34.033538255,0 days 00:11:22.186914391,82145,224873
Wednesday,0 days 00:18:34.876441423,0 days 00:10:57.561350750,71804,203176
Thursday,0 days 00:20:21.632952518,0 days 00:11:20.094495975,94184,231576
Friday,0 days 00:22:50.589454163,0 days 00:11:48.941703365,118094,214129
Saturday,0 days 00:26:32.238374082,0 days 00:12:56.085338977,151988,182859
Sunday,0 days 00:26:28.300418446,0 days 00:12:50.793816292,114710,149716

In [95]:
#convert ride_length to minutes

combined_df['ride_length_minutes'] = combined_df['ride_length'].dt.total_seconds() / 60

combined_df['ride_length_minutes'] = combined_df['ride_length_minutes'].round(3)

combined_df = combined_df.drop(columns='ride_length')

In [96]:
combined_df.to_csv("combined_df.csv", index=False)